/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer);
}
.div-footer {
  display: flex;
  align-items: baseline;
}
.div-contact-footer {
  margin-right: 70px;
}

.address {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-text);
}
.contact-footer {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-white);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-focus);
  }
}

.li-footer:not(:last-child) {
  margin-bottom: 9px;
}

/* Join */

.title-join {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.ul-join {
  display: flex;
  justify-content: center;
  align-items: center;
}
.li-join {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.link-join {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-focus);
  }
}

.icon-join {
  fill: #ffffff;
}

/* Form Footer */

.footer-form {
  margin-left: auto;
}
.title-footer-form {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
  line-height: 1.14;
  text-transform: uppercase;
}
.subscribe-form {
  display: flex;
}
.hidden-caption {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.subscribe-form-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: 0;
    border-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-button-icon {
  margin-left: 10px;
}
.f-f {
  padding: 10px 28px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border-width: 0;
  border-radius: 4px;

  color: var(--white-text);
  background-color: var(--color-focus);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
