.container {
  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desctop) {
    width: 1200px;
  }
}
