/* BTN */

.btn {
  padding: 10px 32px;
  min-width: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: solid transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--color-focus);
  color: var(--white-text);

  /* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.btn-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-filter li:not(:last-child) {
  margin-right: 8px;
}
.btn-portfolio {
  border-radius: 4px;
  padding: 6px 22px;

  border: none;

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--secondary-backgrounds);
  color: var(--black-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background: var(--color-focus);
    color: var(--white-text);
  }
}
