.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
.features__item {
  width: 100%;
  // width: 270px;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:nth-child(-n + 2) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    display: block;
    content: '';
    margin-bottom: 30px;

    border-radius: 4px;

    background: #f5f4fa;
  }
}

.features__icon-antenna::before {
  background-repeat: no-repeat;
  background-position: center;

  height: 120px;

  background-size: 70px;
  background-image: url(../images/icon/antenna.svg);
}
.features__icon-clock::before {
  background-repeat: no-repeat;
  background-position: center;

  height: 120px;

  background-size: 70px;
  background-image: url(../images/icon/clock.svg);
}
.features__icon-diagram::before {
  background-repeat: no-repeat;
  background-position: center;

  height: 120px;

  background-size: 70px;
  background-image: url(../images/icon/diagram.svg);
}
.features__icon-astronaut::before {
  background-repeat: no-repeat;
  background-position: center;

  height: 120px;

  background-size: 70px;
  background-image: url(../images/icon/astronaut.svg);
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-black-text);

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}
.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
