.backdrop {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 581px;

  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(2.5);
  opacity: 0;
}
.backdrop .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  width: 30px;
  height: 30px;

  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-focus);
  }
}

.close-btn__icon {
  fill: currentColor;
}

/* Форма */
.modal__title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--light-black-text);
}
.contact-form {
  text-align: center;
}
.contact-form__field {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.contact-form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.contact-form__field--margin_bottom {
  margin-bottom: 20px;
}

.contact-form__input-container {
  position: relative;
  display: block;
}
.contact-form__input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;
  letter-spacing: 0.01em;
  color: var(--light-black-text);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__field:focus-within .contact-form__input,
.contact-form__field:focus-within .contact-form__comments {
  outline: 0;
  border-color: var(--color-focus);
}
.contact-form__input:hover,
.contact-form__comments:hover {
  border-color: var(--color-focus);
}
.contact-form__input-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  color: var(--light-black-text);
  fill: currentColor;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__field:focus-within .contact-form__input-icon {
  color: var(--color-focus);
}
.contact-form__comments {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: var(--light-black-text);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.contact-form__checkbox-container {
  position: relative;

  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  cursor: pointer;
}
.contact-form__main-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.contact-form__inner-checkbox {
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 15px;

  transform: scale(0.2);
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__outer-checkbox {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--light-black-text);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__main-checkbox:checked + .contact-form__inner-checkbox {
  transform: scale(1);
  opacity: 1;
}

.contact-form__main-checkbox:checked ~ .contact-form__outer-checkbox {
  border-color: var(--color-focus);
}
.contact-form__main-checkbox:focus ~ .contact-form__outer-checkbox,
.contact-form__main-checkbox:hover ~ .contact-form__outer-checkbox {
  border-color: var(--color-focus);
}

.contact-form__main-checkbox:focus:checked ~ .contact-form__outer-checkbox,
.contact-form__main-checkbox:hover:checked ~ .contact-form__outer-checkbox {
  border-color: var(--light-black-text);
}

.contact-form__checkbox-label {
  line-height: 1.71;
  cursor: pointer;
  user-select: none;
}

.contact-form__checkbox-label-link {
  color: var(--color-focus);
  text-decoration-line: underline;
}
