/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-backgrounds);
}
.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--light-black-text);
}
.team__list {
  display: flex;
  justify-content: center;
}
.team-card {
  background-color: var(--primary-backgrounds);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team-card__text {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}
.team-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-black-text);
}
.team-card__skill {
  margin: 0;

  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-card__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-card__item:not(:last-child) {
  margin-right: 10px;
}
.team-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: #afb1b8;

  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--color-focus);
  }
}

.team-card__icon {
  fill: currentColor;
}
